.main-footer {
  padding-top: 10px;
  position: relative;
  text-align: center;
  
}

#bottom-footer{
  padding-bottom: 10px;
}

#bottom-footer-text{
  text-align: center;
}

ul{
    list-style: none;
}

.radioInput{
  margin: 10px;
}

#nolink{
  color: #ffffff;
  text-decoration: none;
  background-color: #307FF6;
  border-radius: 5px;
  padding: 4px 12px;
  text-align: center;
  display: inline-block;
}

#secondbutton{
  margin-left: 30px;
}

.rotate1{
  -webkit-transition: -webkit-transform 0.75s;
  padding-right: 5px;
  width: 40px;
  height: 40px;
}

.rotate1:hover{
  -webkit-transform: rotate(360deg) translateZ(0);
}

#start-gym{
  opacity: 0.5;
  filter: contrast(180%) blur(1px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#overlay {
  position: absolute;
  align-self: baseline;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f9ffff;
}
#img-overlay:hover #overlay {
  opacity: 0.5;
}

#text {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}