.main-footer {
  color: white;
  background-color: #494545;
  padding-top: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}

#bottom-footer{
  padding-bottom: 10px;
}

#bottom-footer-text{
  text-align: center;
}

ul{
    list-style: none;
}

.radioInput{
  margin: 10px;
}

#nolink{
  color: #ffffff;
  text-decoration: none;
  background-color: #307FF6;
  border-radius: 5px;
  padding: 4px 12px;
  text-align: center;
  display: inline-block;
}
  
  
  /* #edit-button{
      background-image: url( 'https://www.flaticon.com/svg/static/icons/svg/61/61456.svg' );
      background-size: 40px 40px;
      height: 40px;  
      width: 40px;
  }

  #delete-button{
    background-image: url( 'https://image.flaticon.com/icons/png/512/542/542724.png' );
    background-size: 40px 40px; 
    height: 40px;  
    width: 40px;
} */

#secondbutton{
  margin-left: 30px;
}